.takeNoteTwoMain {
    width: 45vw;
    height: 21vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 2px 2px 2px 1px #888888;
    border-radius: 10px;
    position: relative;
    top: 0px;
    left: 400px;
}

.takeNoteTwo-titles {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
}

.takeNoteTwo-description {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 7px;
}

.takeNoteTwo-icons {
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    right: 130px;
    top: 25px;

}

.takeNoteTwo-button {
    width: 20%;
    display: block;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
    position: relative;
    top: -7px;
    left: 245px;
}

@media only screen and (min-width:320px) and (max-width:480px) {
    .takeNoteTwoMain {
        width: 86%;
        left: 19%;
        height: 25vh;
    }

    .takeNoteTwo-icons {
        top: 12%;
        left: -23%;
    }

    .takeNoteTwo-button {
        left: 40%;
        top: -20%;
    }

}

@media only screen and (min-width:481px) and (max-width:768px) {
    .takeNoteTwoMain {
        width: 85vw;
        left: 13%;
       
    }

    .takeNoteTwo-icons {
        top: 28%;
        left: -23%;
    }

    .takeNoteTwo-button {
        left: 40%;
        top: 2%;
    }
}

@media only screen and (min-width:769px) and (max-width:1024px) {
    .takeNoteTwoMain {
        width: 87vw;
        left: 10%;
        height: 15vh;
    }

    .takeNoteTwo-icons {
        top: 28%;
        left: -23%;
    }

    .takeNoteTwo-button {
        left: 40%;
        top: 2%;
    }
}