.takeNoteOne-main {
  width: 45vw;
  height: 7vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  /* border: 2px solid rgb(234, 234, 234); */
  padding: 10px;
  box-shadow: 2px 2px 2px 1px #888888;
  border-radius: 10px;
  position: relative;
  top: 0px;
  left: 400px;
}

.takeNoteOne-icons {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
}

@media only screen and (min-width:320px) and (max-width:480px) {
  .takeNoteOne-main {
    width: 86%;
    left: 19%;
}
.takeNoteOne-icons {
  align-items: center;
  flex-direction: row;
justify-content: flex-end;
}
}
@media only screen and (min-width:481px) and (max-width:768px) {
  .takeNoteOne-main {
    width: 86%;
    left: 14%;
}
.takeNoteOne-icons {
  align-items: center;
  flex-direction: row;

}
}
@media only screen and (min-width:769px) and (max-width:1024px) {
  .takeNoteOne-main {
    width: 87%;
    left: 9%;
    height: 5vh;
}
.takeNoteOne-icons {
  align-items: center;
  flex-direction: row;

}
}

